<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bon2017.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Bon2017.My.MySettings.BONConnectionString" connectionString="Data Source=DESKTOP-AGFTUAJ;Initial Catalog=BON;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Bon2017.My.MySettings>
            <setting name="fltbonjr" serializeAs="String">
                <value>2016</value>
            </setting>
            <setting name="fltbontbw" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BONConnectionStringUserOverride" serializeAs="String">
                <value />
            </setting>
            <setting name="GRIDrowseven" serializeAs="String">
                <value>#ffffb3</value>
            </setting>
            <setting name="GRIDrowsodd" serializeAs="String">
                <value>#ffff66</value>
            </setting>
            <setting name="GRIDforecoloreven" serializeAs="String">
                <value>#1e47fc</value>
            </setting>
            <setting name="GRIDforecolorodd" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="DISPtextboxbackcolor" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="UserLogon" serializeAs="String">
                <value />
            </setting>
            <setting name="DISPtextboxerror" serializeAs="String">
                <value>#ff4500</value>
            </setting>
            <setting name="GRIDcellnotused" serializeAs="String">
                <value>#f49d5a</value>
            </setting>
            <setting name="STOCKupdateclosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STOCKstandaardtrans" serializeAs="String">
                <value>Inventaris 2016</value>
            </setting>
            <setting name="fltbondel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fltbonvs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fltbongst" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fltbonuv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fltbonfnr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fltboncnr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstFNR" serializeAs="String">
                <value>1</value>
            </setting>
        </Bon2017.My.MySettings>
    </userSettings>
</configuration>