<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bon2017.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Bon2017.My.MySettings.BONConnectionString" connectionString="Data Source=DESKTOP-AGFTUAJ;Initial Catalog=BON;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Bon2017.My.MySettings>
            <setting name="fltbonjr" serializeAs="String">
                <value>2016</value>
            </setting>
            <setting name="fltbontbw" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BONConnectionStringUserOverride" serializeAs="String">
                <value />
            </setting>
            <setting name="GRIDrowseven" serializeAs="String">
                <value>13893118</value>
            </setting>
            <setting name="GRIDrowsodd" serializeAs="String">
                <value>1048575</value>
            </setting>
            <setting name="GRIDforecoloreven" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GRIDforecolorodd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DISPtextboxbackcolor" serializeAs="String">
                <value>16777215</value>
            </setting>
            <setting name="UserLogon" serializeAs="String">
                <value />
            </setting>
            <setting name="DISPtextboxerror" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="GRIDcellnotused" serializeAs="String">
                <value>7642362</value>
            </setting>
            <setting name="STOCKupdateclosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STOCKstandaardtrans" serializeAs="String">
                <value>Inventaris 2016</value>
            </setting>
            <setting name="fltbondel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fltbonvs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fltbongst" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fltbonuv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fltbonfnr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fltboncnr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstFNR" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GRIDselectfg" serializeAs="String">
                <value>16711680</value>
            </setting>
            <setting name="GRIDselectbg" serializeAs="String">
                <value>16757759</value>
            </setting>
            <setting name="GRIDcellgratis" serializeAs="String">
                <value>65280</value>
            </setting>
            <setting name="GRIDcellmemo" serializeAs="String">
                <value>16022884</value>
            </setting>
            <setting name="fltfilterdatum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fltfilterleegBON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JaarCopy" serializeAs="String">
                <value>2019</value>
            </setting>
            <setting name="XCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fltbonpart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalsAllowed" serializeAs="String">
                <value />
            </setting>
        </Bon2017.My.MySettings>
    </userSettings>
</configuration>